body {
    background-color: powderblue;
    text-align: center;
}
h1 {
    font-size: 60px;
}

#container {

    margin: auto;
    width: 50%;
    border: 3px black solid;
    text-align: center;
    font-family: "Plantagenet Cherokee";
    font-size: 22px;
}

#currentBtn {
    text-align: center;
    border: 2px red solid;
    font-size: 10px;
    font-family: "Plantagenet Cherokee";
    font-size: 12px;



}

table.center{
    margin-left:auto;
    margin-right:auto;
    font-size: 25px;


}

input {
    width:70px;
    text-align: center;
}